------------------------------------------------------------------------------------------
-- file: alvalwijzer_userconfig.lua
-- You can define your information in this file without updating the main script eachtime
------------------------------------------------------------------------------------------
myAfvalDevice='Container'                                -- The Text devicename in Domoticz
ShowNextEvents = 3                                       -- indicate the next x events to show in the TEXT Sensor in Domoticz
Postcode='your-zip-here'                                 -- Your postalcode
Huisnummer='your-housenr-here'                           -- Your housnr
NotificationEmailAdress = "your-email-address(es)-here"  -- Specify your Email Address for the notifications

-- uncoment any of the below when you need to override the standard settings
--~ -- Switch on Debugging in case of issues => set to true/false=======
--~ debug = false  -- get debug info in domoticz console/log

--~ -- ### define a line for each afvaltype_cfg retuned by the webrequest:
--~ 	-- hour & min ==> the time the check needs to be performed and notification send when daysbefore is true
--~ 	-- daysbefore ==> 0 means that the notification is send on the day of the planned garbage collection
--~ 	-- daysbefore ==> X means that the notification is send X day(s) before the day of the planned garbage collection
--~ 	-- reminder   ==> Will send a second reminder after x hours. 0=no reminder (needs to be in the same day!)
--~ 	-- text       ==> define the text for the notification.

--~ afvaltype_cfg = {
--~ 	["restafval"]     ={hour=19,min=01,daysbefore=1,reminder=0,text="Grijze Container met Restafval"},
--~ 	["gft"]           ={hour=19,min=01,daysbefore=1,reminder=0,text="Groene Container met Tuinfval"},
--~ 	["pmd"]           ={hour=19,min=01,daysbefore=1,reminder=0,text="Oranje Container met Plastic en Metalen"},
--~ 	["kerstbomen"]    ={hour=19,min=01,daysbefore=1,reminder=0,text="Kerstbomen"},
--~ 	["takken"]        ={hour=19,min=01,daysbefore=1,reminder=0,text="snoeiafval"},
--~ 	["papier"]        ={hour=12,min=05,daysbefore=0,reminder=0,text="Blauwe Container met Oud papier"},
--~ 	["plastic"]       ={hour=19,min=01,daysbefore=1,reminder=0,text="plastic en drankenkartons"},
--~ 	["grofvuil"]      ={hour=19,min=01,daysbefore=1,reminder=0,text="grofvuil/oud ijzer"},
--~ 	["tuinafval"]     ={hour=19,min=01,daysbefore=1,reminder=0,text="tuinafval"},
--~ -- Add any missing records above this line
--~ 	["dummy1"]        ={hour=02,min=10,daysbefore=0,reminder=0,text="dummy to trigger update for testing"},
--~ 	["dummy2"]        ={hour=02,min=10,daysbefore=0,reminder=0,text="dummy to trigger update of text sensor at night"}}

--~ -- Define the Notification Title and body text. there are 3 variables you can include:
--~ -- @DAG@ = Will be replaced by (vandaag/morgen/over x dagen)
--~ -- @AFVALTYPE@ = Will be replaced by the AfvalType found on the internet
--~ -- @AFVALTEXT@ = Will be replaced by the content of the text field for the specific AfvalType in afvaltype_cfg
--~ -- @AFVALDATE@ = Will be replaced by the pickup date found on the internet
--~ notificationtitle = '@AFW: @DAG@ de @AFVALTEXT@ aan de weg zetten!'
--~ notificationtext  = '@DAG@ wordt de @AFVALTEXT@ opgehaald!'
myAfvalDevice='Barry AfvalWijzer'
ShowNextEvents = 3       -- indicate the next events to show in the TEXT Sensor in Domoticz
Postcode = '7081DL'      -- Your postalcode
Huisnummer = '4'         -- Your housnr
NotificationEmailAdress = "jos.vanderzande@yahoo.com"
